body {
  margin: 3%;
  font-size: 17px;
  line-height: 1.5;
  background-color:#d6cc1f;
}
.column {
  width: 100%;

}


@media (min-width: 320px) {
  .column {
    width: 50%;
  }
}

main {

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;  */
}
#info {
  background-color: #41538e;
}
div {
  background: white;
  flex-basis: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
  display: block;
  border-radius: 6px;
  border-color: black;
 
  margin: 4px;
}

@media (min-width: 600px) {
  main {
    flex-wrap: nowrap;
  }

  div {
    flex-basis: 33%;
  }
}

.header {
  overflow: hidden;
  background-color: #e8e2d8;
  padding: 20px 10px;
}

#affinityWorkshopSummary {
  width: auto;
  height: 240px
}

#affinityWorkshopSummary:hover {
  transform: scale(1.2);
  transition: 0.1s;
  border-radius: 4px;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 1;
  background-color: #41538e;
  border-radius: 4px;

max-width: 100%; 
height: auto;

}
p {
  line-height: 1.5;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
ul {
  font-weight: normal;
}

h1 {
  font-size: 34px;
  max-width: 100%; 
  height: auto;

}
lh {
  font-size: 34px; 
  font-weight: bold;
  background-color:#bb576d;
  border-radius: 4px;
}

h5 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: bold;

}

/* .caseInfo {
  background-color: #eaeaea;

} */

.column {

  padding: 0 4px;
}

/* .uxTesting {
  background-color: slategray;
} */

.personas {
  background-color:white;
  padding: 6px;
  border-radius: 6px;
}

/* #theIssue {
  background-color: #E5F3FD;
  padding: 6px;
  border-radius: 6px;
} */

#definingExperience {
  background-color: white;
  padding: 6px;
  border-radius: 6px;
}

#researchData {
  background-color: #e8e2d8;
  padding: 6px;
  border-radius: 6px;
  margin: 10px;
}

.customerJourneyMap:hover {
  transform: scale(1.5);
  transition: 0.1s;
  border-radius: 4px;
  text-decoration: none;

}
#navBar {
  width: 99%;
  margin-left: -5px;
  background-color: #5b90c8;
}
#infoHead {
  width:100%;
}
#benchMarking {
  width: auto;
  height: 280px
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 340px) {
  body {
   
    background-color: white;
    grid-template-areas:
      "header"
      "footer";
    grid-template-rows: auto 1fr 40px 1fr 15px;
    grid-template-columns: auto auto auto;
  }
}

.responsive {
  width: 100%;
  height: auto;
}
.affinityWorkshop,
.usabilityImage {
  height: 100px;
  width: auto;
}

.logoImage {
  height: 30px;
  width: auto;

}
#aboutHeading {
  width: 820px;
 font-size: 30px;
 margin-left: 180px;
 padding-left: 340px;
 
}
#about {
  width: 800px;
  margin: auto;
}
.sketch {
  height: 250px;
  width: auto;
  border-radius: 6px;
  margin: 8px;

}

/* p {
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
} */

/* .caseInfo {
  margin: auto;
  width: 88%;
  border: 3px solid grey;
  padding: 10px;
} */

/* .container {
  margin: auto;
  width: 88%;
  border: 3px solid grey;
  padding: 10px;
} */


.headings {

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 4px;

  background-color: #84c5d8;
}

lh,
li {
  font-family: 'Poppins', sans-serif;
line-height: 1.5;
  font-weight:normal;
}


.usabilityImage {
  border-radius: 4px;
  height: 120px;
  width: auto;
  margin: 8px;

}

/* .affinityWorkshop {
  border-radius: 6px;
  margin: 20px;
  margin-top: 8px;
  border: 1px solid grey;

} */

/* #journeyImage {
    height: 200px;
    width: auto;
    
    border-radius: 6px;
  
 } */

.customerJourneyMap {
  /* width: auto; */
  height: 800px;
  /* display: block; */
  margin-left: 40px;
  max-inline-size: 100%;
  block-size: auto;

}

/* div {
  border-color:black;
  padding: 4px;
  margin: 6px;
 } */
#sketches {
  margin-top: 40px;
  background-color: #e8e2d8;
}

.responsive {
  width: 100%;
  height: auto;
}
#solution {
  width: 150px;
  height: auto;
}
#solution:hover {
  transform: scale(1.3);
  transition: 0.1s;
}

.sketch {
  margin-left: 100px;

}

.sketch:hover {

  transform: scale(3.8);
  transition: 0.4s;
  border-radius: 4px;
  text-decoration: none;

}

a {
  /* background-color: lightblue; */
  text-decoration: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  /* border-radius: 6px;

  padding: 10px; */
}


.userPersonas {
  width: auto;
  height: 290px;
  border-radius: 8px;
  padding: 8px;
  margin-left: 10px;
}

.userPersonas:hover {

  transform: scale(1.2);
  transition: 0.1s;
  text-decoration: none;
  border-radius: 4px;
}

#benchMarking {
  width: auto;
  height: 260px;
margin: 6px;

  border-radius: 8px;
}

.userTesting {
  width: auto;
  height: 120px;
  border-radius: 8px;
  padding: 8px;
}
#imageBenchmarking {
  width: auto;
  height: 80px;
  margin-left: 420px;
}
img:hover {
  transform: scale(1.2);
  transition: 0.1s;
  text-decoration: none;
  border-radius: 4px; 
}
#comingSoon {
  width: auto;
  height: 260px;
  margin-left: 450px;
}
#projectThree {
  background-color: antiquewhite;
}
.contactMe {
  width: auto;
  height: 52px;
  padding: 2px;
  font-family: 'Roboto', sans-serif;

}
.info {
  color: white;
}
/* #caseInfo {
  margin-left: 70px;
} */
#backgroundSurvey {
  background-color: #41538e;
}
#survey:hover {
  transform: scale(1.2);
  transition: 0.2s;
  text-decoration: none;
  border-radius: 8px;
  padding-top: 10px;
}
#survey {
  width: auto;
  height: 340px;
  border-radius: 4px;
border-color: #41538e;
border: 4px;
margin-top: 8px;
  margin-left: 2px;

}

#benchMarking:hover {
  transform: scale(1.1);
  transition: 0.2s;
  text-decoration: none;
  border-radius: 8px;
}
.stickyNote {
  width: auto;
  height: 400px;
  padding: 5px;
}
.stickyNote:hover {
  transform: scale(1.1);
  transition: 0.2s;
  text-decoration: none;
  border-radius: 8px;
}
/* .navigateOut {


 float: inline-end;
 Display: Inline-Block;
 
  font-weight: 400;
} */
/* .colNav {
  background-color:#faf0e6;

} */
#navigation {
  background-color:white;
width: 100%;
height: 80px;
} 
#confusion {
  width: 500px;
  margin: auto;
}

.websiteVersions {
  width: 500px;
  margin: auto;

}
.websiteVersions:hover {
  transform: scale(1.1);
  transition: 0.2s;
  text-decoration: none;
  border-radius: 8px;
}

#analysisImage {
  width: auto;
  height:140px;
margin-left: 180px;
}
#userFlow {
  width: auto;
  height: 360px;
}
#userFlow:hover {
  transform: scale(1.5);
  transition: 0.2s;
  text-decoration: none;
  border-radius: 8px;
}
.websiteImages {
  width: auto;
  height: 180px;
  margin-left: 20px;
}
.websiteImages:hover {
  transform: scale(1.2);
  transition: 0.1s;
  text-decoration: none;
  border-radius: 8px;
}
#understoodIcon {
width:auto;
  height: 120px;
}
#surveyBackground {
  background-color: black;
  width: 100%;
  height: auto;

}
#intro {
  line-height: 1.5;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 17px;
}
#nav {
  font-weight: 400px;
  background-color: #92b7c2;

}
#considerations {
  line-height: 1.5;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 17px;
}
#personas {
  background-color: #41538e;
}