{
  box-sizing: border-box;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
ul {
  padding: 10px;
}

 #partTwo {
  width: 98%;
  border-radius: 6px;
  background-color:whitesmoke;
 

 }

#partTwoRow {
  border-radius: 9px;
 margin-left: 6px;
 padding: 4px;

}
#heading {

float: right;
}
#secondPic {
  position: relative;
  float: right;
  border: 1px dotted cadetblue;
  width: auto;
  top: -10px;
  height: 200px;
  border-radius: 4px;
  display: flex;
 margin: 4px;

}
#aboutMeWriteUp {
text-align: left;
}

#profilePhoto {
  position: relative;
  float: left;
  border: 1px dotted cadetblue;
  width: auto;
  top: -10px;
  height: 200px;
  border-radius: 4px;
  display: flex;
 margin: 4px;

}




.contactMe:hover {
  transform: scale(1.3);
  transition: 0.1s;
  border-radius: 4px;
  text-decoration: none;
}

.contactMe {
  width: auto;
  height: 40px;
padding-left: 20px;
  font-family: 'Roboto', sans-serif;

}


p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight:normal;
  line-height: 1.5;
  text-align: justify;
}


h1 {
 color: #000000;
  text-align: left;
padding-top: 4px;
  font-size: 40px;
font-weight:bold;

  font-family: 'Adamina', serif;
}

h2 {
 
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding: 4px;
  font-size: 22px;
font-weight:normal;
  color: #000000;
}

h3 {
  color: #242124;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding: 4px;
  font-weight:normal;
  font-size: 20px;
}

.zoom {
  transition: 0.6s;
}


#index {
margin-left: 4%;
margin-right: 4%;


background-color: teal;
/* background-image: url(./websiteImages/backgrounds\ \(1\).png); */
background-repeat: no-repeat;
background-size:99.9%;



}

a {
  text-decoration: none;
  display: inline-block;
 

}
#nav {
  
border-radius: 6px;
max-width: fit-content;
width: auto;



  background-color:white;

  padding: 5px;
  margin: 4px;
 /* text-align: right;
 margin-left: 90px; */
}

/* 
#aboutMe {
  background-color: #FAF6F0;
  border-radius: 8px;


} */








* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 97%;
  height: 100%;

 background-color:#fafafb;
}


.nav-link {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


#meMeMe {
  /* background-image: url(./websiteImages/backgrounds\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100%;
background-position: right top 1px; */
margin-top: 10px;
margin-left: 1%;
border-radius: 6px;
background-color:white;

}
